@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
body {
    margin: 0;
    background-color: #f9f8f2;    
}
html {
    scroll-behavior: smooth;
}
* {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.subitem {
    display: block;
    height: 0;
}
h2 {
    color: #f6f4eb;
    width: 100%;
    text-indent: 20px;
    font-weight: 500;
    border-radius: 0 50px 50px 0;
    background-color: #0f4761;
    filter: drop-shadow(0 6px 6px rgba(27, 27, 27, 0.23));
}
main {
    padding-top: 140px;    
}
.centro {
    display: flex;
    justify-content: center;
}
.cabecalho {
    background-color: #f6f4eb;
    box-shadow: 0 6px 6px rgba(27, 27, 27, 0.134);
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    z-index: 15;
}
.ids li {
    list-style-type: none;
}
.ids li a {
    display: block;
    font-weight: 500;
    text-decoration: none;
    color: #0f4761;
    padding: 0.3em;
    text-align: center;
    width: 15vw;
    min-width: 75px;
    border-radius: 24px;
}
.ids li a:hover {
    color: #f6f4eb;
    background-color: #0f476180;
    cursor: pointer;
    transition: 0.1s;
}
.ids li a:active {
    list-style-type: none;
    color: #f6f4eb;
    background-color: #0f4761;
    cursor: pointer;
}
.pagina {
    display: block;
    width: 100%;
    height: 600%;
    box-sizing: border-box;
    touch-action: none;
}
.sbtexto p {
    text-indent: 2em;
    margin: 20px 0 20px 0;
    text-align: justify;
}
.tabelacontainer {
    width: 100%;
    overflow: scroll;
}
.tabelacontainer table {
    width: 100%;
    border: none;
    color: #272a35;
    border-collapse: collapse;
    min-width: 342px;
}
.tabelacontainer table tr td {
    margin: 0;
    padding: 20px;
    border: none;
}
.tabelacontainer table thead tr th{
    text-align: center;
    color: #f9f8f2;
    background: #0f4761;
    padding: 0.1em;
}
.tabelacontainer table tr:nth-child(odd)  { 
    background: #f9f8f2;
} 
.tabelacontainer table tr:nth-child(even)  {
    background: rgba(16, 68, 92, 0.05);
}
.tabelacontainer table tr td:nth-child(1)  {
    font-weight: 600;
}
.tabelacontainer table tr td:nth-child(2)  {
    font-weight: 400;
}  
.foto {
    object-fit: cover;
    height: 100%;
    z-index: 2;
    left: -290px;
    position: absolute;
    margin-right: auto;
}
.degrade {
    background-image: linear-gradient(0deg, #000 5%, #00000026 26%, #0f476100 30%);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    overflow: hidden;
}
.legenda {
    color: #f9f8f2;
    z-index: 4;
    position: relative;
    margin: auto auto 10px auto;
    text-shadow: 0 0 5px #000000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 10px;
}
.ancoras {
    position: absolute;
    margin-top: -140px;
}
.coluna {
    flex-direction: column;
}
.fileira {
    display: flex;
    flex-direction: row;
}
.linha {
    width: 5px;
    height: 100%;
    background-color:#0f4761;
}
.bola {
    width: 100%;
}

.bola h3 {
    background-color: #0f4761;
    border-radius: 25px 25px 25px 0;
    color: #f9f8f2;
    padding: 0.2em 0.6em;
    text-align: left;
    margin: 0;
}
.ponta {
    width: 40px;
    height: 40px;
}
.ano div {
    align-content: center;
}
.ano div h4 {
    margin: 0;
    color: #0f4761;
    font-weight: 600;
}
.ano div h5 {
    margin: 0;
    color: #272a35;
}
.licursos  {
    list-style-type: none;
    padding: 0;
}
.licursos ul {
    list-style-type: disc;
}
.escola {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    object-fit: cover;
    z-index: 2;
    position: absolute;
}
.divisortimeline {
    border: none;
    background-color: #0f4761;
    height: 5px;
    margin: 0;
}
.link {
    color: #272a35;
    text-decoration: underline;
}
.link img {
    height: 1em;
}
.ano2 {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.ano2 hr {
    width: 50%;
    height: 4px;
    border: none;
    margin: 0;
    background: linear-gradient(to right, #0f4761, #0f476183, #0f476101);
}
.ano2 p {
    margin: 0 0 0 10px;
    font-style: italic;
    color: #0f4761;
    font-weight: 600;
}
.licursos ul li h4 {
    font-weight: 600;
    color: #0f4761;
    margin: 0;
}
.licursos ul li p {
    margin: 0;
    color: #212532;
}
.titskills h3 {
    text-align: center;
    background: #0f4761;
    color: #f9f8f2;
    margin: 0;
    padding: 0.1em;
}
.listacontainer ul li {
    font-weight: 500;
}
.listacontainer ul li {
    list-style: none;
    margin: 10px 0 10px 0;
}
.divisorskills {
    background-color: #0f476183;
    border: none;
    height: 5px;
    margin: 0;
}
.titidioma {
    width: 100%;
}
.titidioma hr {
    border: none;
    background-color: #0f476183;
    height: 5px;
    margin: 0;
}
.titidioma h3{
    font-weight: 600;
    padding: 6px 16px 6px 16px;
    margin: 0;
    text-align: left;
}
.idiomas {
    width: 100%;
}
.idiomas tbody tr td {
    padding: 0.2em;
}
.idiomas tbody tr td:nth-child(1){
    font-weight: 600;
    padding-left: 2em;  
}
.idiomas tbody tr td:nth-child(12){
    text-align: center;
}
.estrela {
    width: 20px;
    height: 20px;
}
.estrela div {
    background-color: #0f4761;
    height: 2em;
    margin: 0 auto;
}
.transp {
    opacity: 50%;
}
.wrap {
    flex-wrap: wrap;
}
.galeria {
    background-color: #f9f8f2;
    overflow: hidden;
    filter: drop-shadow(0 6px 6px rgba(27, 27, 27, 0.134));
}
.galeria h4 {
    color: #0f4761;
    text-align: center;
    margin: 0;
    font-weight: 500;
    width: 100%;
    padding: 5px;
}
.galeria hr {
    border: none;
    background: linear-gradient(to right, #0f476101, #0f476183, #0f4761, #0f476183, #0f476101);
    height: 5px;
    margin: 0;
}

.secproj h3 {
  text-align: center;
  background: #0f4761;
  color: #f9f8f2;
  margin: 0;
  padding: 0.1em;
}
.galeria div a {
    margin: 10px;
}
.rodape {
    display: flex;
    flex-direction: column;
    box-shadow: 0 -6px 6px rgba(27, 27, 27, 0.134);
    color: #0f4761;
    padding: 20px;
    justify-content: center;
    align-items: center;
}
.rodape p {
    font-weight: 500;
    margin: 0;
}
.rodape div ul {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    justify-content: center;
}
.rodape div ul li a {
    height: 100%;
    width: 100%;
    display: block;
    opacity: 60%;
    transition: 0.1s;
}
.rodape div ul li a:hover  {
    opacity: 80%;

}
.rodape div ul li a:active  {
    opacity: 100%;
}
.rodape div ul li a img{
    width: 100%;
}
.rodape div h3 {
    margin: 10px;
}
.rodape div {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.listacontainer {
    overflow: scroll;
    width: 100%;
}
#Criatividade {
    list-style-image: url('./src/images/Skills/Softskills/criatividade.png') 
}
#Adaptabilidade {
    list-style-image: url('./src/images/Skills/Softskills/adaptabilidade.png') 
}
#Autonomia {
    list-style-image: url('./src/images/Skills/Softskills/autonomia.png') 
}
#Produtividade {
    list-style-image: url('./src/images/Skills/Softskills/produtividade.png') 
}
#Respeito {
    list-style-image: url('./src/images/Skills/Softskills/respeito.png') 
}
#Organizacao {
    list-style-image: url('./src/images/Skills/Softskills/organizacao.png') 
}
#Proatividade {
    list-style-image: url('./src/images/Skills/Softskills/proatividade.png') 
}
#Responsabilidade {
    list-style-image: url('./src/images/Skills/Softskills/responsabilidade.png') 
}
#Foco {
    list-style-image: url('./src/images/Skills/Softskills/foco.png') 
}

#C {
    list-style-image: url('./src/images/Skills/Hardskills/C.png') 
}
#Python {
    list-style-image: url('./src/images/Skills/Hardskills/python.png') 
}
#Javascript {
    list-style-image: url('./src/images/Skills/Hardskills/Javascript.png') 
}
#HTML {
    list-style-image: url('./src/images/Skills/Hardskills/html.png') 
}
#CSS {
    list-style-image: url('./src/images/Skills/Hardskills/css.png') 
}
#React {
    list-style-image: url('./src/images/Skills/Hardskills/react.png') 
}
#FrontBack {
    list-style-image: url('./src/images/Skills/Hardskills/frontback.png') 
}
#Office {
    list-style-image: url('./src/images/Skills/Hardskills/office.png') 
}
#Banco {
    list-style-image: url('./src/images/Skills/Hardskills/banco.png') 
}
#Nodemon {
    list-style-image: url('./src/images/Skills/Hardskills/nodemon.png') 
}
#Photoshop {
    list-style-image: url('./src/images/Skills/Hardskills/photoshop.png') 
}
#PowerBI {
    list-style-image: url('./src/images/Skills/Hardskills/powerBI.png') 
}

@media screen and (min-width: 910px) {
    h1 {
        font-size: 3em;
        font-weight: 600;
        color: #0f4761;
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
    }
    h2 {
        font-size: 2.8em;
        margin: 20px 0 20px 0;
    }
    .ano2 p, .titidioma h3 {
        font-size: 2.5em;
    }
    .tabelacontainer table thead tr th, .bola h3, .ano div h4, .titskills h3, .galeria h4, .secproj h3 {
        font-size: 2em;
    }
    .ids li a, .sbtexto p, .tabelacontainer table tr td, .legenda, .ano div h5, .licursos ul li h4, .licursos ul li p, .listacontainer ul li, .idiomas tbody tr td, .galeria div a, .rodape p, .rodape div h3, .licursos ul li ul li {
        font-size: 1.25em;
    }
    .conteudotimeline{
        width: calc(100% + 3px);
        margin-left: -3px;
    }
    .sbtexto {
        padding: 38px;
        width: 50%;
    }
    .info {
        height: 800px;
        padding: 0 20px 20px 20px;
        overflow-y: scroll;
    }
    .pad {
        padding: 38px;
    }
    .tela2 {
        padding: 24px 3em;
        background-image: linear-gradient(rgba(16, 68, 92, 0.05), #0f476100);
        border-radius: 48px;
    }
    .ano {
        padding: 10px 10px 0 20px;
        display: flex;
    }
    .ano h3 {
        margin: 0 0.3em 0;
        color: #0f47619c;
        font-size: 8em;
        line-height: 1em;
        font-style: italic;
        font-weight: 600;
    }
    .tela1 {
        height: 1000px;
        display: flex;
        flex-direction: row;
    }
    .secproj {
        margin: 0 auto;
        background-image: linear-gradient(rgba(16, 68, 92, 0.05), #0f476100);
        border-radius: 48px 48px 0 0;
        overflow: hidden;
    }
    .galeria {
        margin: 24px 3em;
        border-radius: 24px;
    }
    .containerproj {
        width: 576px;
        position: relative;
        overflow: hidden;
        display: flex;
        height: 324px;
        margin: 0;
        gap: 10px;
    }
    .containerescola {
        width: 100%;
        height: 460px;
        position: relative;
        overflow: hidden;
        display: flex;
        margin: 0;
    }
    .listaskills {
        vertical-align: 1em;
    }
    .galeria div {
        display: flex;
        justify-content: center;
        gap: 10px;
        padding: 10px;
    }
    .fotoproj {
        width: 100%;
        z-index: 2;
        position: absolute;
        height: 100%;
    }
    .tela3 {
        width: 100%;
        gap: 10px;
        display: flex;
        flex-direction: row;
    }
    .titskills{
        width: 50%;
        border-radius: 25px;
        background-image: linear-gradient(rgba(16, 68, 92, 0.05), #0f476100);
        overflow: hidden;
    }
    .listacontainer ul {
        padding: 0 6em 0 6em;
    }
    .rodape div ul li {
        list-style: none;
        overflow: hidden;
        border-radius: 12px;
        width: 48px;
        height: 48px;
        margin: 10px;
    }
    .tabelacontainer table, .titskills, .secproj {
        border-radius: 24px;
    }
    .ids {
        display: flex;
        justify-content: space-around;
        margin: 0 0 10px 0;
        padding: 0;
        width: 100vw;
        flex-wrap: wrap;
        gap: 10px;
    }
    .containerfoto {
        position: relative;
        display: flex;
        height: 98%;
        width: 50%;
        overflow: hidden;
        margin: 58px 0 0 38px;
    }
    .tabelacontainer {
        border-radius: 24px;
    }
}
@media screen and (max-width: 909px) {
    h1 {
        font-size: 2em;
        font-weight: 600;
        color: #0f4761;
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: left;
        padding: 0 4vw;
    }
    h2 {
        font-size: 1.9em;
        margin: 8px 0 8px 0;
    }
    .ano2 p, .titidioma h3 {
        font-size: 1.5em;
    }
    .tabelacontainer table thead tr th, .bola h3, .titskills h3, .galeria h4, .secproj h3 {
        font-size: 1.2em;
    }
    .listacontainer ul li, .ano div h4, .ids li a {
        font-size: 1.2em;
    }
    .sbtexto p, .tabelacontainer table tr td, .legenda, .ano div h5, .licursos ul li h4, .licursos ul li p, .idiomas tbody tr td, .galeria div a, .rodape p, .rodape div h3, .licursos ul li ul li {
        font-size: 0.8em;
    }
    .tela1 {
        display: flex;
        flex-direction: column-reverse;
        height: 240vh;
    }
    .sbtexto {
        padding: 2vw;
    }
    .containerfoto {
        margin: 0 auto;
        position: relative;
        display: flex;
        height: 100%;
        width: 93vw;
    }
    .foto {
        object-fit: cover;
        height: 100%;
        z-index: 2;
        position: absolute;
        margin-right: auto;
        left: auto;
        width: 100%;
    }
    .info {
        padding: 0 20px;
    }
    .pad {
        padding: 2vw;
    }
    .tela2 {
        padding: 2vh 2vw;
        background-image: linear-gradient(rgba(16, 68, 92, 0.05), #0f476100);
        border-radius: 48px;
    }
    .ano {
        padding: 6vh 0 5px 0;
        text-align: center;
    }
    .containerescola {
        width: 100%;
        height: 220px;
        position: relative;
        overflow: hidden;
        display: flex;
        margin: 0;
    }
    .ano h3 {
        margin: 0 0.3em 0;
        color: #0f47619c;
        font-size: 2em;
        line-height: 1em;
        font-style: italic;
        font-weight: 600;
    }
    .conteudotimeline {
        width: 100%;
        margin-left: -1px;
        display: block;
    }
    .conteudotimeline tbody, .conteudotimeline tbody tr, .conteudotimeline tbody tr td {
        display: inherit;
    }
    .secproj {
        margin: 0 auto;
        background-image: linear-gradient(rgba(16, 68, 92, 0.05), #0f476100);
        border-radius: 8px;
        overflow: hidden;
    }
    .listaskills {
        vertical-align: 1.2em;
    }
    .containerproj {
        width: 100%;
        position: relative;
        overflow: hidden;
        display: flex;
        height: 40vw;
        margin: 10px;
        gap: 10px;
    }
    .galeria {
        border-radius: 8px;
        margin: 24px 0.8em;
    }
    .galeria div {
        display: flex;
        justify-content: center;
    }
    .fotoproj {
        width: 100%;
        z-index: 2;
        position: absolute;
        height: 100%;
        object-fit: cover;
      }
    .tela3 {
        width: 100%;
        gap: 10px;
        display: flex;
        flex-direction: column;
    }
    .titskills {
        width: 100%;
        border-radius: 18px;
        background-image: linear-gradient(rgba(16, 68, 92, 0.05), #0f476100);
        overflow: hidden;
        text-align: center;
    }
    .listacontainer ul {
        margin: 0;
        padding: 0 0 0 5em;
    }
    .rodape div ul li {
        list-style: none;
        overflow: hidden;
        border-radius: 4px;
        width: 40px;
        height: 40px;
        margin: 8px;
    }
    .ids {
        display: flex;
        justify-content: space-around;
        margin: 10px auto;
        padding: 0;
        width: 93vw;
        flex-wrap: wrap;
    }
    .tabelacontainer {
        border-radius: 18px;
    }
}
  